<div class="wrapper">
	<div class="container-weeks">
    	<h1 class="big"><%= __('app name') %></h1>
		<table>
		  <thead>
		    <tr>
		      <th><%= __('round') %> #</th>
		      <th><%= __('week') %> #</th>
		      <th><%= __('start week') %></th>
		      <th><%= __('end week') %></th>
		    </tr>
		  </thead>
		  <tbody>
			<% if(weeks.length){%>
				<% _.each(weeks, function (week) { %>
			    <tr>
			    	<td><%= week.name %></td><td></td><td></td>
			    </tr>
			    <% }) %>
		    <% }else{%>
		    	<tr><td><%= __('not found week') %></td></tr>
		    <% } %>
		  </tbody>
		 </table>
	</div>
</div>